* {
   font-family: 'Source Sans Pro', sans-serif;
   box-sizing: border-box;
}
/*** All ***/
:root {
   /** Colors **/
   --colorRed: #CF1C21;
   --colorRed-hover: #bb050b;
   --colorWithe: #eef;
   --colorBlack01: #0C0B0B;
   --colorBlack02:  #0E0D0D;
   --colorBlack03: #1A1919;


   /** Fonts **/
   --fontSize-h1: 4rem; /*64px*/
   --fontSize-h2: 2.5rem; /*40px*/
   --fontSize-h3: 2rem; /*32px*/
   --fontSize-h4: 1.5rem; /*24px*/
   --fontSize-h5: 1rem; /*16px*/

   --fontSize-p1: 1.3rem;
   --fontSize-p2: 1.2rem;
   --fontSize-p3: 1.1rem;

   --fontSize-list: 1.1rem;
}
h1 {
   margin: 0 !important;
   /* font-size: var(--fontSize-h1) !important; */
}
h2 {
   font-size: var(--fontSize-h2);
}
h3 {
   font-size: var(--fontSize-h3);
}
h4 {
   font-size: var(--fontSize-h4);
}
h5 {
   font-size: var(--fontSize-h5);
}
h1,h2,h3,h4,h5{
   margin: 0;
}
main {
   min-height: 100vh;
   /* padding: 155px; */
}
p {
   font-size: var(--fontSize-p2);
}
a {
   text-decoration: none;
   color: var(--colorWithe);
}
a:hover {
   /* text-decoration: none; */
   color: var(--colorRed);
}
body {

}

ul {
   list-style: none;
}

.d-flex {
   display: flex;
}
.justify-content-center {
   justify-content: center;
}
.aling-item-center {
   align-items:center ;
}
.t-center {
   text-align: center;
}
.t-red {
   color: var(--colorRed);
}
.btn {
   padding: 1.3vh 1.5vw;
   background-color: var(--colorRed);
   color: var(--colorWithe);
   border-radius: .5vh;
   text-decoration: none;
}

.btn:hover {
   color: var(--colorWithe);
   background-color: var(--colorRed-hover);
}

.shadow {
   height: 100vh;
   width: 100%;
   background-color: #0c0b0b8e;
   position: fixed;
   z-index: 10;
   transition-property: background-color;
   transition-duration: 1.5s;
}



::-webkit-scrollbar {
   background-color: var(--colorBlack01);
   width: .6rem;
   /* border-radius: 50%; */
}
::-webkit-scrollbar-thumb {
   background-color: var(--colorRed);
   border-radius: 15rem;
}


/*** Header ***/
.navbar {
   background-color: var(--colorBlack01);
   color: var(--colorWithe);
   padding: 2vh 0;
   position: fixed;
   z-index: 900;
   width: 100%;
}
.content {
   padding: 0 5vw;
}

.logo {
   flex-grow: 1.2;
   /* width: 100%; */
}

.logo>a {
   color: var(--colorRed);
   /* text-decoration: none; */
   /* font-size: 3vh; */
   font-weight: 900;
}

.menu {
   background-color: var(--colorBlack01);
   flex-direction: column;
   position: absolute;
   justify-content: center;
   align-items: center;
   height: 100vh;
   width: 75vw;
   top: 0;
   right: 0;
   z-index: -1;
   text-align: center;
   transform: translateX(150%);
}

.menu-active {
   transform: translateX(0%);
   transition-property: transform;
   transition-duration: 1.3s; 
}
.menu-noactive {
   transform: translateX(150%);
   transition-property: transform;
   transition-duration: 1.3s; 
}

.menu>ul {
   flex-direction: column;
   margin: 0;
   padding: 0;
}
.menu>ul>li.nav-item {
   margin: 3vh 5vw;
}
.menu>ul>li>a {
   padding: 2vh 10vw;
   font-size: var(--fontSize-list);
}
.menu>ul>li>a.active {
   color: var(--colorRed);
   font-weight: 800;
}
.btn-menu {
   display: block;
   padding: 1vh 2vw;
}
.btn-menu:active{
   outline: solid 1px var(--colorRed);
   box-shadow: 0px 0px 6px rgba(238, 238, 255, 0.849);
}
.btn-menu>i {
   font-size: x-large;
}




/*** Slider ***/
/* .carousel-content {
   height: 100vh;
   width: 100%;
   align-items: center;
   background-image: url("./img/slide1.jpg") ;
   background-position: center top;
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
   
} */

/* .carousel-content:before{ 
   content: '';
   background-color: rgba(0, 0, 0, .6);
   position: absolute;
   top: 0;
   bottom: 0;
   right: 0;
   left: 0;

} */

/* .carousel-control {
   width: 100%;
   position: absolute;
   justify-content: space-between;
   align-items: center;
} */

/* .carousel-control>i{
   color: var(--colorWithe);
   font-size: 2.5vw;
   padding: 25vh 1vw;
   z-index: 50;
} */

/* .carousel-control>i:hover{
   color: rgb(212, 211, 211);
   background-color: #fdfdfd05;
   cursor: pointer;
} */

/* .carousel-indicators {
   width: 100%;
   min-height: 100vh;
   position: absolute;
   justify-content: center;
   align-items: flex-end;
} */

/* .carousel-indicators>i {
   color: var(--colorWithe);
   font-size: .8vw;
   margin: 0 .6vw 1.5vh .6vw ;
} */

/* .carousel-indicators>i.active{
   color: var(--colorRed);   
} */

/* .carousel-info {
   padding: 0 2vw;
   position: absolute;
   color: var(--colorWithe);
   margin: 0 5vw;
} */

/* .carousel-title {
   font-size: 10vh;
   margin-bottom: 0;
} */

/* .carousel-text {
   margin-bottom: 5vh;
   width: 35%;
   font-size: 2.5vh;
   font-weight: 400;
   text-align: justify;
} */


/*** Footer ***/

.footer-info {
   background-color: var(--colorBlack02);
   color: var(--colorWithe);
   padding: 4vh 3vw;
   justify-content: center;
   flex-direction: column;
}

.footer-info ul{
   margin: 0;
   padding: .5rem;
   /* justify-content: space-around; */
}

.footer-us {
   flex-grow: 1;
}

.footer-navegation {
   flex-grow: 1;
}

.footer-title {
   margin-top: .5rem;
}
.footer-navegation ul {
   margin: 1.5vh 0;
}
.footer-navegation ul li {
   margin: 1.5vh 1vw;
   padding: .5rem;
}

.footer-navegation ul li>i.fa-circle {
   color: var(--colorRed);
   margin-right: .2rem;
   font-size: .5rem;
}

.footer-links {
   flex-grow: 1;
}
.footer-links ul li {
   
   padding-left: .5rem;
}
.list-link {
   margin: 1.8vh 0;
}

.link-footer {
   font-size: 1rem;
}


.footer-copy {
   background-color: var(--colorBlack01);
   color: var(--colorWithe);
   padding: 2vh 8vw;
   flex-direction: column;
   align-items: center;
}

.social>a {
   margin: 1vh 3vw;
   padding: .8vh 1vw;
   font-size: large;
}


@media screen and (min-width: 0px) {
   /*** Header ***/ 

   /*** Footer ***/
   
   /*** Slider ***/
.carousel-content {
   height: 100vh;
   width: 100%;
   align-items: center;
   /* justify-content: center; */
/*    background-image: url("./img/slide1.jpg") ; */
   background-position: left top;
   background-repeat: no-repeat;
   background-size: cover;
   /* background-attachment: fixed; */
   
   /* object-fit: cover;
   object-position: top; */
}

.carousel-content:before{ 
   content: '';
   background-color: rgba(0, 0, 0, .6);
   position: absolute;
   top: 0;
   bottom: 0;
   right: 0;
   left: 0;
}

.carousel-control {
   width: 100%;
   position: absolute;
   justify-content: space-between;
   align-items: center;
}

.carousel-control>i{
   color: var(--colorWithe);
   font-size: 1.2rem;
   /* background-color: #ce3237; */
   padding: 25vh 3vw;
   z-index: 50;
}

.carousel-control>i:hover{
   color: rgb(212, 211, 211);
   background-color: #fdfdfd05;
   cursor: pointer;
}

.carousel-indicators {
   width: 100%;
   min-height: 100vh;
   position: absolute;
   /* display: flex; */
   justify-content: center;
   align-items: flex-end;
}

.carousel-indicators>i {
   color: var(--colorWithe);
   font-size: .5rem;
   margin: 0 1.5vw 2vh 1.5vw ;

}

.carousel-indicators>i.active {
   color: var(--colorRed);   
}

.carousel-info {
   padding: 0 2vw;
   position: absolute;
   color: var(--colorWithe);
   margin: 0 8vw;
}

.carousel-title {
   font-size: 2.5rem;
}

.carousel-text {
   margin-bottom: 5vh;
   width: 85%;
   font-size: .8rem;
   font-weight: 300;
   text-align: justify;
}

.btn-p {
   font-size: small;
}
}

@media screen and (min-width: 576px) {
   /*** Header ***/
   .navbar {
      /* background-color: #bb050b; */
      background-color: #0e0d0d36;

   }

   .menu {
      width: 60vw;
   }



    /*** Footer ***/
    .footer-info {
      padding: 4vh 4vw;
      flex-direction: row;
      justify-content: flex-start;
   }

   .footer-info ul{
      margin: 1vh 0;
      justify-content: flex-start;
   }
   .footer-info ul li{
      margin: .5vh .8vw;
      padding: .5rem;
   }

   .footer-us {
      display: none;
   }

   
   .footer-title {
      margin-top: 0;
   }

   .footer-navegation>ul {
      /* margin: 1vh 0; */
      /* padding: .5rem; */
   }
   .footer-navegation ul li>i.fa-circle {
      margin-right: .4rem;
      font-size: .6rem;
   }
   .social>a {
      margin: 1vh 2.5vw;
   }
}

@media screen and (min-width: 768px) {
   /*** Header ***/
   .navbar {
      background-color: #0e0d0d;
   }
 
   .menu {
      background: none;
      flex-grow: .6;
      flex-direction: row;
      position: static;
      justify-content: space-between;
      align-items: flex-start;
      height: auto;
      width: inherit;
      text-align:justify;
      transform: translateX(0%);
   }
   .menu>ul {
      flex-direction: row;
      margin: 0;
   }

   .menu>ul>li.nav-item {
      margin: 2vh 1vw;
   }
   .menu>ul>li>a {
      padding: 1vh 1vw;
      font-size: .9rem;
   }
   .btn-menu {
      display: none;
   }



   /*** Footer ***/
   .footer-info {
      /* background-color:darkcyan; */
      padding: 4vh 3.5vw;
      /* justify-content: center; */
   }

   .footer-info ul{
      justify-content: flex-start;
      /* justify-content: flex-end; */
   }
   .footer-info ul li{
      margin: .3rem .2rem;
      padding: .5rem;
   }

   .footer-us {
      display: initial;
      flex-grow: 1;
      flex-grow: .5;
      flex-basis: 25%;
   }
   .footer-navegation {
      flex-grow: 1;
      justify-content: center;
   }
   .footer-links {
   }
   .footer-title {
      display: flex;
   }
   

   .footer-links{
      flex-grow: .5;
      justify-content: flex-end;

   }

   .social>a {
      margin: 1vh 1.5vw;
   }
}

@media screen and (min-width: 992px) {
   .menu>ul>li>a {
      font-size: 1rem;
   }



   .footer-info {
      /* background-color:rgb(0, 139, 46); */
      padding: 4vh 8vw;
      justify-content: center;
   }

   .footer-copy {
      /* padding: 2vh 8vw; */
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
   }

   /* .copy {
      flex-grow: 1;
   }

   .social {
      flex-grow: .5;
      justify-content: flex-end;
   } */
   .social>a {
      margin: 1vh .5rem;
   }

}

@media screen and (min-width: 1200px) {
   .menu>ul>li>a {
      font-size: 1.05rem;
   }

   .footer-info {
      /* background-color:rgb(139, 0, 132); */
      padding: 4vh 8vw;
      justify-content: space-between;
   }

   .footer-info ul li {
      margin: 1.5vh 1.5rem;
   }

   .footer-navegation ul li>i.fa-circle {
      font-size: .8rem;
   }

   .footer-copy {
      justify-content: space-between;
   }

}
